In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\cse22004\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\cse22004\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\cse22004\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\cse22004\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\cse22004\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as a
c = {
  'order': ["Veg", "Non-Veg", "Bevrage"],
  'price': [500, 700, 200]
}
b = a.DataFrame(c)
print(b)

     order  price
0      Veg    500
1  Non-Veg    700
2  Bevrage    200

In [11]:
import pandas as a
b = a.read_csv('E:\\Data.CSV')
print(b)

   S.no     Name  Age Gender
0     1    Venky   50   Male
1     2    Murli   45   Male
2     3  Suhruth   40   Male
3     4  Hemanth   17   Male

In [17]:
import pandas as a
b = [1,4,3]
c = a.Series(b)
print(c)

0    1
1    4
2    3
dtype: int64

In [21]:
import pandas as a
c = {
  'Name': ["Venky", "Suhrut", "Murli", "Hemanth"],
  'Age': [50, 45, 40, 17],
  'Gender': ["Male", "Male", "Male", "Male"],
}
b = a.DataFrame(c)
print(b)

      Name  Age Gender
0    Venky   50   Male
1   Suhrut   45   Male
2    Murli   40   Male
3  Hemanth   17   Male