<a href="https://colab.research.google.com/github/Hemanth-046/Python_Practice/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# tuple=() , list=[] , set={}

In [1]:
#loops in sets
thisset={"Tony Stark","Buckey","Banner"}
for x in thisset:
  print(x)

Buckey
Tony Stark
Banner

In [10]:
#all mix

set1 = {"a", "b", "c" }
set2 = {1,2,3}

set3 = set1.union(set2)
print(set3)
set1.update(set2)
print(set1)
set1.intersection_update(set2)
set4=set1.intersection(set2)
set1.symmetric_difference_update(set1)
z = x.symmetric_difference(y)

print(z)

print(set1)
print(set1)
print(set4)

{1, 2, 3, 'c', 'a', 'b'}
{1, 2, 3, 'c', 'a', 'b'}
set()
set()
{1, 2, 3}

In [11]:
#join two sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)
set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}
{1, 2, 3, 'c', 'a', 'b'}

In [13]:
#keeping only duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)
z = x.intersection(y)
print(z)

{'apple'}
{'apple'}

In [12]:
#keeping all but not duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'cherry', 'google', 'banana'}
{'apple', 'cherry', 'banana'}